body {
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Inter', sans-serif;
    color: black;
    margin: 0 auto;
    max-width: 1550px;
    max-height: 1550px;
    width: 100%;
    height: 100%;
    background-color: #b8e6fca9;
    background-image: url('../img/Pattern1.png'), url('../img/Blomma.png');
    background-repeat: no-repeat, no-repeat;
    background-position: right top, center top;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
}

.form {
    border-style: dotted;
    border-color: #4D7BFF;
    border-width: 50px;
    padding: 40px;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 20px;
    font-size: 32px;
    font-family: IBM Plex Mono;
    font-weight: 400;  
}


.textblockOne {
    font-family: 'Inter', sans-serif;
    font-size: 55px;
    font-weight: 600;
    line-height: 56px;
    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px; 
    padding-right: 25px; 
    max-width: 700px;
    max-height: 330px;
    padding-top: 40px; 
    padding-bottom: 40px; 
    padding-left: 40px; 
    padding-right: 40px; 
    background-color: white;
    border-style: solid;
    border-width: 50px;
    border-color: #7FFF5B;
    margin-top: 120px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
   
}


.label{
    color: black;
    font-size: 70px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 56px;
    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px; 
    padding-right: 25px; 
    background: #FF90FF;
    max-width: 430px;
    
    
}
    
label {
    line-height: 56px;
}

input {
    border-radius: 5px;
    background-color:#FFFF50;
    border-style: none;
    cursor: text;
}

button {
    border-radius: 5px;
    background-color: #7FFF5B;
    border-style: none; 
    width: 200px;  
    font-size: larger;
    
}

button:hover {
    background-color: #FF90FF;
  }

input:hover {
    background-color: #FF90FF;
  }


    